@model IEnumerable<bootcamp_3tiers.Models.Details>

@{
    ViewBag.Title = "Index";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
    </tr>

@foreach (var user in Model) {
    <tr>
        <td>
            @Html.ActionLink($"{user.FirstName} {user.LastName}", "Details", new { id= user.Id }) |
        </td>
    </tr>
}

</table>
